@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #091921;
}

.calculator {
	position: relative;
	display: grid;
}

.calculator .value {
	grid-column: span 4;
	height: 5em;
	text-align: right;
	border: none;
	outline: none;
	padding: 1em;
	font-size: 18px;
}

.calculator span {
	cursor: pointer;
	display: grid;
	width: 60px;
	height: 60px;
	color: #fff;
	background: #0c2835;
	place-items: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.calculator span:active {
	background: #74ff3b;
	color: #fff;
}

.calculator span.clear {
	grid-column: span 2;
	width: 120px;
	background: #ff3077;
}

.calculator span.plus {
	grid-row: span 2;
	height: 120px;
}

.calculator span.equal {
	background: #03b1ff;
}