@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,400&display=swap');*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    background-color: aqua;
    display:flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;

}
.nav-title{
float: left;
}
.nav-links{
    float: right;
   
}
.navbar .nav-links ul {
    list-style: none;
}
.navbar .nav-links ul li{
    display: inline-block;
    padding-right: 30px;
}
.navbar .nav-links ul li a {
    text-decoration: none;
    color:black;
}
/* Blogs */
.create {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .create label {
    text-align: left;
    display: block;
  }
  .create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  .create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }