:root{
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.container{
    max-width: 960;
    margin:auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase{
    background-color: var(--primary-color);
    color: white;
    height: 100vh;
    position: relative;
}

.showcase:before{
    content: '';
    background: url(https://images.pexels.com/photos/1054289/pexels-photo-1054289.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat
    center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;    
}

.showcase .showcase-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%; 
}

.showcase h1{
    font-size: 4rem;
}

.showcase p{
    font-size: 1.3rem;
}

.btn{
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover{
    opacity: 0.7;
}













